@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
 
}

body {

  min-height: 100%;
  background-image: url("k3vinfx.github.io/img/fondo.png");
}

.grid-container > * {

  border-radius: 0px;
  padding: 0px;
  text-align: center;
}

.header {
  grid-area: header;

  background-image: url("img/mural2.png");
  background-size: 100% 100%;
 
}

.main {
  grid-area: main;

}



.footer {
  grid-area: footer;
  background-image: url("img/LINEA_MADERA.png");
}

.grid-container {
  display: grid;
  gap: 0px;
  grid-template:
    "header"  35%

    "main"    auto
   
    "footer"  20px;
}

.responsive {
  width: 100%;
max-width:225px;
height: auto;
padding: 3%;

}


.grid-container {
  display: grid;
  grid-row-gap: 1px;
  grid-template-columns: auto;
  background-color: #fcff53;
  padding: 0px;
}

.grid-item {

  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}


.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media (min-width: 600px) {
  .grid-container {
    /* grid-template-columns: 200px auto;
    grid-template-rows: 100px 50px auto 100px;
    grid-template-areas: 
    "header  header"
    "navbar  navbar"
    "sidebar main"
    "footer  footer"; */

    grid-template:
    "header  header header"  38%
    "navbar  main   sidebar" auto
    "footer  footer footer"  25px /
    100px    auto   100px;

  
  }
  .header {
    grid-area: header;

    background-image: url("img/mural3.png");
    background-size: 100% 100%;
   
  }

}



@media (min-width: 1000px) {
  .grid-container {
    
  
    grid-template:
    
      "header  header header"  36%
      "navbar  main   sidebar" auto
      "footer  footer footer"  20px /
      180px    auto   180px;
  }

  .header {
    grid-area: header;

    background-image: url("img/mural.png");
    background-size: 100% 100%;
   
  }

}
 




@media (min-width: 1290px) {
  .grid-container {
    
  
    grid-template:
    
      "header  header header"  35%
      "navbar  main   sidebar" auto
      "footer  footer footer"  30px /
      380px    auto   380px;
  }
  .header {
    grid-area: header;

    background-image: url("img/mural.png");
    background-size: 100% 100%;
   
  }

}
  @media (min-width: 1500px) {
    .grid-container {
     
      grid-template:
      
        "header  header header"  35%
        "navbar  main   sidebar" auto
        "footer  footer footer"  30px /
        480px    auto   480px;
    }

   
}
